@font-face {
    font-family: inconsolata;
    src:
        url(../assets/fonts/static/Inconsolata-Bold.ttf) format(truetype),
        url(../assets/fonts/static/Inconsolata-ExtraBold.ttf) format(truetype),
        url(../assets/fonts/static/Inconsolata-Medium.ttf) format(truetype) url(../assets/fonts/static/Inconsolata-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
