* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    max-height: 100vh;
}

body {
    font-family: "inconsolata", sans-serif;
    font-size: 12px;
    background-image: url(../assets/images/background-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: hidden;
}

main {
    width: 100%;
    max-width: calc(100vh - 20 - 35 - 16);
    background-position: center;
    background-size: cover;
}